{% extends "layout.html" %}
{% block content %}
    <h1>FastAPI <span class="text-aqua">Blog</span></h1>
    <section>
        <h2>About</h2>
        <p>Unlike many outdoor sports, getting started with bouldering is surprisingly simple. All you need are some climbing shoes, chalk, and a positive attitude—most gyms even rent the equipment for your first sessions. No prior experience or complex gear required!</p>
        <div class="two-columns-display">
            <div class="bouldering-bg">
                <h3>Know Before You Go</h3>
                <p>Before you start climbing, learn proper falling technique and always check your landing zone. Taking basic safety precautions and learning gym etiquette will help ensure a fun and injury-free experience.</p>
            </div>
            <div class="getting-started">
                <h3>The simple steps to getting started</h3>
                <ol>
                    <li>Find a bouldering gym near you.</li>
                    <li>Rent or invest in a pair of climbing shoes.</li>
                    <li>Learn basic bouldering techniques.</li>
                    <li>Start with easy routes and gradually increase difficulty.</li>
                    <li>Join a bouldering community or club.</li>
                </ol>
            </div>
        </div>
    </section>
    <section class="posts">
        {% for post in posts %}
            <h3><a href="{{ url_for('post_page', post_id=post.id) }}">{{ post.title }}</a></h3>
            <p>~by {{ post.author }}</p>
            <p>{{ post.content }}</p>
        {% endfor %}
    </section>
{% endblock content %}